.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/Data/*
!Data/MEOW
!Data/Predictions_Buelow
/Figures
/Results/gpkg
/Results/RDS/mangroves_biotyp_mollweide.rds
/Results/RDS/PUs_01_mangroves_biotyp_cc_intersection.rds
/Results/RDS/WDPA
/Results/RDS/prioritisation/Country/03_comparison
/Results/RDS/prioritisation/Country/04b_comparison
/Code/04_patchwork_figures