.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/Data
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.3_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.3_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.3_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.2_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.2_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.2_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.25_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.25_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.25_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.1_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.1_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.1_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.15_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.15_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.15_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.05_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.05_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.05_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.3_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.3_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.3_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.2_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.2_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.2_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.25_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.25_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.25_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.1_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.1_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.1_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.15_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.15_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.15_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.05_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.05_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.05_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/solution_0.3_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/solution_0.2_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/solution_0.25_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/solution_0.1_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/solution_0.15_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/solution_0.05_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/metrics_0.3_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/metrics_0.2_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/metrics_0.25_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/metrics_0.1_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/metrics_0.15_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/seaward/metrics_0.05_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/solution_0.3_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/solution_0.2_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/solution_0.25_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/solution_0.1_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/solution_0.15_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/solution_0.05_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/metrics_0.3_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/metrics_0.2_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/metrics_0.25_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/metrics_0.1_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/metrics_0.15_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/landward/metrics_0.05_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/solution_0.3_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/solution_0.2_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/solution_0.25_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/solution_0.1_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/solution_0.15_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/solution_0.05_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/metrics_0.3_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/metrics_0.2_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/metrics_0.25_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/metrics_0.1_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/metrics_0.15_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/seaward/metrics_0.05_seaward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/solution_0.3_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/solution_0.2_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/solution_0.25_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/solution_0.1_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/solution_0.15_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/solution_0.05_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/metrics_0.3_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/metrics_0.2_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/metrics_0.25_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/metrics_0.1_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/metrics_0.15_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/landward/metrics_0.05_landward.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/metrics_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/biotyp/mean/solution_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/metrics_0.3_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.05_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.15_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.1_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.25_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.2_mean.rds
Results/RDS/prioritisation/02_prioritisation_CC/MEOW_and_biotyp/mean/solution_0.3_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.05_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.15_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.1_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.25_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.2_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_biotyp_priority_0.3_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.05_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.05_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.05_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.15_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.15_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.15_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.1_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.1_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.1_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.25_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.25_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.25_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.2_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.2_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.2_seaward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.3_landward.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.3_mean.rds
Results/RDS/prioritisation_input/PUs_05_mangroves_cc_IUCN_split_by_MEOW_and_biotyp_priority_0.3_seaward.rds
Results/RDS/WDPA/all_overlapping_MPAs_ESRI_54009_union.rds
Results/RDS/WDPA/gmw_intersection_WDPA.rds
Results/gpkg/PUs_04_mangroves_cc_IUCN_split_by_country_and_biotyp.gpkg
/Figures/MEOW
Results/RDS/WDPA/gmw_intersection_WDPA_I_IV_union.rds
Results/RDS/WDPA/gmw_intersection_WDPA_I_VI_union.rds
Results/RDS/WDPA/PUs_gmw_WDPA_all_intersection.rds
Results/RDS/WDPA/PUs_gmw_WDPA_I_IV_intersection.rds
Results/RDS/WDPA/PUs_gmw_WDPA_I_VI_intersection.rds
