.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/Data
/Figures
/Results/gpkg
/Results/RDS/mangroves_biotyp_mollweide.rds
/Results/RDS/PUs_01_mangroves_biotyp_cc_intersection.rds
/Results/RDS/WDPA
/Results/RDS/prioritisation/Country/03_comparison
/Results/RDS/prioritisation/Country/04b_comparison
/Results/resp_v1/gpkg
/Results/resp_v1/RDS/mangroves_biotyp_mollweide.rds
/Results/resp_v1/RDS/PUs_01_mangroves_biotyp_cc_intersection.rds
/Results/resp_v1/RDS/WDPA
/Results/resp_v1/RDS/prioritisation/Country/03_comparison
/Results/resp_v1/RDS/prioritisation/Country/04b_comparison